.password-checker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .password {
    width: 50%;
    color: rgba(0, 123, 255, 0.5);
    padding: 10px;
    margin: 20px 0 20px 0;
    border: 1px solid rgba(0, 123, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &::placeholder {
      color: rgba(0, 123, 255, 0.5);
      text-align: center;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  .checker-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 123, 255, 0.5);
    border-radius: 20px;

    .checker-traffic-light {
      width: 20%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;


      .checker-circle {
        width: 50px;
        height: 50px;
        margin: 20px;
        border-radius: 50%;
      }
    }

    .checker-rule {
      width: 80%;
      padding: 20px;

      h1 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}
