:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.password {
  width: 50%;
  color: rgba(0, 123, 255, 0.5);
  padding: 10px;
  margin: 20px 0 20px 0;
  border: 1px solid rgba(0, 123, 255, 0.5);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  &::placeholder {
    color: rgba(0, 123, 255, 0.5);
    text-align: center;
  }

  &:focus::placeholder {
    color: transparent;
  }
}
