:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checker-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 123, 255, 0.5);
  border-radius: 20px;

  .checker-traffic-light {
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .checker-circle {
      width: 50px;
      height: 50px;
      margin: 20px;
      border-radius: 50%;
      background-color: red;

      &.grey {
        background-color: grey;
      }
    }
  }

  .checker-rule {
    width: 80%;
    padding: 20px;

    h1 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}
